/*parent*/
.parent{
	position: absolute;
}
	/*jumbotron*/
	#logout{
		float: right;
	}

/*child */
.child{
	position: relative;
}
.grandchild-house{
	position: absolute;

}

/*grandchild*/
.grandchild{
	position: relative;
}

/*added elmas to react*/

		.elmasAA{
		float: right;
		}

		.elmasA{
		float: right;
		}

/*css imported from elmas' html*/

		body{
		    background-color: lightgray;

		}

		.title{
		    font-size: 50px; 
		    height: 70px; 
		    padding-left: 50px;
		    background-color:#005fbb ; 
		    color:white;
		    float: left;

		}


		.personal{
		    background-color:white;
		    color:#005fbb ;
		    margin-bottom: 15px;
		    margin-right:50px;
		    float:right;
		}
		.personal:hover{
			background-color:#3d3434;
			color:#f3f291;
		}

		.icons{
		    background-color:#005fbb ;
		    color: white;
		}
		.categories{
		    background-color:#005fbb ; 
		    padding-right: 5px;
		    color: white;
		    font-size: 24px;
		}

		#tabs a:hover{
			background-color:#3d3434;
			color:#f3f291;
		}

		#tabs a:active{
			background-color:#3d3434;
			color:#f3f291;
		}

		.main-area{
	        box-shadow: 10px 10px 10px 10px #888888 ;
	        margin-bottom: 35px;
	        margin-right: 30px;
	        margin-left: 30px;
	   	}

		.filter-box{
		    border:solid; 
		    border-width: 1px; 
		    height: 600px; 
		    background-color: white;
		
		}

		.display{
			/*margin-top: 20px;*/
		}
		.display-box{
		    border-color: white; 
		    border:solid; 
		    border-width: 1px; 
		    height: 600px; 
		    background-color: white;
		}
		.grandchild-title{
			text-align: left;
			font-size:24px;
		}
		.grandchild-title-div{
			height:500px;
			overflow-y: scroll;
		}

/*-------------------------------------------------------------------------*/
/*child*/
		.child-title-div{
			height: 530px;
			text-align: left;
			font-size:20px;
			overflow-y: scroll;
		}

		.select{
			text-align: left;
			padding-left: 20px;
			

		}


/*-----------------------------------------------------------------------*/
		
/*filter*/
.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
a.list-group-item, button.list-group-item {
    color: #3e3f3a;
}
.list-group-item {
    padding: 16px 24px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dfd7ca;
}

a {
    color: #93c54b;
    text-decoration: none;
}

a {
    background-color: transparent;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
   
}